.module-main{
    width: 60%;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    margin-top: 100px;
}

.module-data {
    /* border: 1px solid red; */
	width: 50%;
    height: 70%;
	position: absolute;
	right: 400px;
	top: 90px;
	z-index: 1;
	color: #0d4f86;
	line-height: 2em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.module-text{
    width: 50%;
	position: absolute;
	right: 50px;
	top: 65px;
	z-index: 1;
	color: #0d4f86;
	line-height: 1.5em;
    margin-top: 50px;
}
.module-text > p{
   
	color: gray;
	line-height: 1.5em;
}
.tab1{
    display: flex;
    margin-top: 30px;
    gap: 50px;
}

.tab1 > div > img
{
    width: 100%;
}
.text-data{
width: 50%;
position: absolute;
right: 50px;
top: 99px;
z-index: 1;
color: #0d4f86;
line-height: 1.5em;
}
.text-data > p
{
    color: gray;
	line-height: 1.5em;
}
.tab-list {
    gap: 200px;
    justify-content: center;
    border: 2px solid white;
    background-color: #0d4f86;
    color: white;
}
.tab-list > tab:active{
    background-color: white;
    color: blue;
}
.Heading{
    width: 20%;
    font-size: larger;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	position: absolute;
	right: 860px;
	top: 40px;
	z-index: 1;
	color: #0d4f86;
	line-height: 2em;
}